.footer{
    padding: 70px 0px;
    border-top: 1px solid map-get($colors, "black" );
    margin-top: 100px;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include responsive(){
        flex-direction: column;
        height: 400px;
    }
}

.footer-container-logo{
    transform: scale(1.7);
    width: 100px;
    padding: 50px 0;
    cursor: pointer;

    @include responsive(){
        margin: 0 auto;
    }
}

.footer-item-2{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.footer-container-item{
    display: flex;
    flex-direction: column;

    h2{
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: map-get($colors, "red" );
        transition: 0.3s;
    }

    ul{
        display: flex;
        gap: 40px;
    }

    li{
        list-style: none;
    }

    @include responsive(){
        h2{
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }
}