.inicio{
    @extend .pagina-formatada;

    height: 85vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive(){
        flex-direction: column;
        height: auto;
        overflow: none;
    }
}

.inicio-item-1{
    max-width: 576px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1{
        font-size: 50px;
    }
}

.inicio-pesquisa{
    display: flex;
    width: 100%;

    input{
        transform: skewX(-10deg);
        padding: 12px 32px;
        width: 100%;
        height: 50px;
        border: 2px solid map-get($colors, "red" );
        border-right: none;
    }

    input:focus{
        box-shadow: 0 0 5px map-get($colors, "red" );
    }

    button{
    padding: 5px;
    width: 40px;
    height: 50px;
    background: map-get($colors, "white" );
    border: 2px solid map-get($colors, "red" );
    border-left: none;
    cursor: pointer;
    transform: skewX(-10deg);
    }
}

.inicio-imagem{
    width: 80%;
    margin: 0 auto;

    @include responsive(){
        margin: 0 auto;
        height: auto;
    }
}