header{
    width: 100%;
    padding: 10px 20px;

    background-color: map-get($colors, "bg");

    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;

    padding: 20px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    list-style: none;
    
    display: flex;
    align-items: center;

    li{
        margin-left: 24px;

        a{
            display: block;
            padding: 8px 16px;
            transition: .5s ease;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 200;
            color: black;
    
            &:hover{
                color: map-get($colors, "red" );
                transform: translate3d(0, -3px, 0);
            }
        }
    }

    

    @include responsive(){
        position: fixed;
        top: 0;
        right: -100%;

        height: 100vh;
        margin: 0;
        background-color: #b5a395;

        flex-direction: column;

        width: 100%;
        max-width: 250px;

        padding: 100px 20px;

        transition: 0.5s ease;
    }
}

.active{
    right: 0;
}

.logo{
    max-width: 88px;
    cursor: pointer;
}

.bx{
    width: 30px;
    height: 30px;

    background-color: trasnparent;
    border-radius: 5%;
    border: 0;

    position: relative;
    cursor: pointer;

    display: none;

    &::after{
        content: '';
        position: absolute;
        top: 30%;
        left: 15%;

        width: 70%;
        height: 10%;

        border-radius: 20px;
        background-color: map-get($colors, "red" );
    }

    &::before{
        content: '';
        position: absolute;
        top: 60%;
        left: 45%;

        width: 40%;
        height: 10%;

        border-radius: 20px;
        background-color: map-get($colors, "red" );
    }

    @include responsive(){
        display: block;
        z-index: 999;
    }
}