.sobre{
    @extend .pagina-formatada;

    overflow: hidden;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive(){
        flex-direction: column-reverse;
        height: auto;
        overflow: none;
    }
}

.sobre-imagem{
    width: 80%;
    margin: 0 auto;

    @include responsive(){
        margin: 0 auto;
        height: auto;
    }
}

.sobre-item-2{
    max-width: 576px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1{
        font-size: 50px;
    }
}